@model Procrastinate.Models.Articles


@{
    ViewData["Title"] = "Home Page";
}

@foreach (var butt in Model.Hits)
{
    <div class="card">
        <div class="card-body">
            <h5>@butt.Title</h5>
            <a class="card-link" href="@butt.Url">@butt.Url</a>
            <button></button>
        </div>
    </div>
}


@*<script type="module" src="~/js/NewsFeed.js">
</script>*@
